* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --purple: rgb(133, 77, 255);
    --purple-disabled: rgb(175, 138, 255);
    --light-red: rgb(255, 87, 87);
    --white: rgb(255, 255, 255);
    --off-white: rgb(240, 240, 240);
    --light-grey: rgb(219, 219, 219);
    --smokey-grey: rgb(113, 111, 111);
    --off-black: rgb(20, 20, 20);
}